<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand pull-left" ng-show="$ctrl.authData.token" ui-sref="member({userId: $ctrl.authData.id})">{{$ctrl.authData.email}}</a>
        <div class="navbar-header pull-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="signOut cursorPointer" ng-show="$ctrl.authData.token" ng-click="$ctrl.signOut()"><a>Sign out</a></li>
                <li class="signIn" ng-show="!$ctrl.authData.token"><a ui-sref="auth">Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="sidebar" ng-class="{sideBarOpened: $ctrl.sideBarOpened}">
    <ul class="sidebar-nav nav">
        <li class="membersLink"><a ui-sref="members">Members</a></li>
        <li class="" ng-show="$ctrl.authData.token"><a ui-sref="chat({chatId: ''})">Chat</a></li>
    </ul>
    <button ng-click="$ctrl.sideBarOpened = !$ctrl.sideBarOpened">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
</div>
<div class="mainContent">
    <notification-messages></notification-messages>
    <div class="container logoutErrors zeroPadding">
        <notice notice="$ctrl.errorSignOutMessages" danger="true"></notice>
    </div>
    <div class="container mainContainer">
        <ui-view></ui-view>
    </div>
</div>
