.container {
    width: 50%;
}

.logoutErrors {
    margin-top: 60px;
}

.sidebar {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    overflow: hidden;
    width: 0px;
    background: black;
    position: fixed;
    margin-top: -10px;
    height: 100vh;

    button {
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

        position: fixed;
        padding: 5px 10px;
        top: 50%;
        transform: translate(-5px, -50%);
        background-color: black;
        color: lightgray;
        font-size: 16px;

        &:focus {
            color: lightgray;
            border: none;
            outline: none;
            box-shadow: none;
            outline-offset: 0px;
        }
    }
}

.sideBarOpened {
    width: 110px;
    button {
        transform: translate(105px, -50%);
    }
}