<form name="$ctrl.messageForm" class="modal-content chatBeginner" ng-submit="$ctrl.sendMessage()">
    <div class="modal-header" ng-if="$ctrl.members && !$ctrl.members.length">
        <button type="button" class="close" ng-click="$ctrl.close()" aria-hidden="true">&times;</button>
    </div>
    <div class="infoMessage modal-body" ng-if="$ctrl.members && !$ctrl.members.length">
        <h1>
            You have chats with all users already.
        </h1>
    </div>
    <div ng-if="$ctrl.members && $ctrl.members.length" class="modal-body">
        <div class="form-group">
            <select class="form-control" ng-model="$ctrl.messageData.memberId" ng-init="$ctrl.messageData.memberId = $ctrl.members[0].id">
                <option ng-if="$ctrl.userId != member.id" ng-value="member.id" ng-repeat="member in $ctrl.members">{{member.email}}</option>
            </select>
        </div>
        <div class="form-group">
            <textarea name="postText" ng-model="$ctrl.messageData.text" type="text" required class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div ng-if="$ctrl.members.length" class="modal-footer">
        <div class="col-md-6">
            <button type="button" class="btn btn-default" ng-click="$ctrl.close()" aria-hidden="true">Close</button>
        </div>
        <div class="col-md-6">
            <button ng-disabled="!$ctrl.messageData.text" type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
</form>