<form name="$ctrl.dataForm" ng-submit="$ctrl.editProfileData($ctrl.profileData)" class="authForm">
    <notice notice="$ctrl.notice.errorProfileMessages" danger="true"></notice>
    <notice notice="$ctrl.notice.successProfileMessages"></notice>
    <h3>Edit personal data</h3>
    <div class="form-group">
        <label>Name</label>
        <input autocomplete="off" name="name" ng-model="$ctrl.profileData.name" ng-readonly="$ctrl.isSendingNow" type="text" required class="form-control" placeholder="Enter name">
        <validate-errors errors="$ctrl.dataForm.name.$error" show="!$ctrl.dataForm.name.$pristine"></validate-errors>
    </div>
    <div class="form-group">
        <label>Surneme</label>
        <input autocomplete="off" name="surname" ng-model="$ctrl.profileData.surname" ng-readonly="$ctrl.isSendingNow" type="text" required class="form-control" placeholder="Enter surname">
        <validate-errors errors="$ctrl.dataForm.surname.$error" show="!$ctrl.dataForm.surname.$pristine"></validate-errors>
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input autocomplete="off" name="email" ng-model="$ctrl.profileData.email" ng-readonly="$ctrl.isSendingNow" type="email" required class="form-control" placeholder="Enter email">
        <validate-errors errors="$ctrl.dataForm.email.$error" show="!$ctrl.dataForm.email.$pristine"></validate-errors>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" ng-model="$ctrl.profileData.description" ng-readonly="$ctrl.isSendingNow" type="text" class="form-control" placeholder="Enter description"></textarea>
    </div>
    <button ng-disabled="!$ctrl.dataForm.$valid || $ctrl.isSendingNow" type="submit" class="btn btn-primary">Submit</button>
</form>
<form name="$ctrl.passwordForm" class="authForm" ng-submit="$ctrl.changePassword($ctrl.passwordsData)">
    <notice notice="$ctrl.notice.errorPasswordMessages" danger="true"></notice>
    <notice notice="$ctrl.notice.successPasswordMessages"></notice>
    <h3>Change password</h3>
    <div class="form-group">
        <label>Current password</label>
        <input name="currentPassword" ng-model="$ctrl.passwordsData.currentPassword" ng-readonly="$ctrl.isSendingNow" ng-maxlength="40" required type="password" class="form-control" placeholder="Current password">
        <validate-errors errors="$ctrl.passwordForm.currentPassword.$error" show="!$ctrl.passwordForm.currentPassword.$pristine"></validate-errors>
    </div>
    <div class="form-group">
        <label>New password</label>
        <input name="newPassword" ng-model="$ctrl.passwordsData.newPassword" ng-readonly="$ctrl.isSendingNow" ng-minlength="8" ng-maxlength="40" required type="password" class="form-control" placeholder="New password">
        <validate-errors errors="$ctrl.passwordForm.newPassword.$error" show="!$ctrl.passwordForm.newPassword.$pristine"></validate-errors>
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        <input name="confirmNewPassword" ng-model="$ctrl.passwordsData.confirmNewPassword" ng-readonly="$ctrl.isSendingNow" required compare-to="$ctrl.passwordsData.newPassword" type="password" class="form-control" placeholder="Confirm new password">
        <validate-errors errors="$ctrl.passwordForm.confirmNewPassword.$error" show="!$ctrl.passwordForm.confirmNewPassword.$pristine"></validate-errors>
    </div>
    <button ng-disabled="!$ctrl.passwordForm.$valid || $ctrl.isSendingNow" type="submit" class="btn btn-primary">Submit</button>
</form>