<request-errors errors="$ctrl.errorGettingMessages"></request-errors>
<h1>{{$ctrl.info.name}}&nbsp{{$ctrl.info.surname}}</h1>
<p ng-if="$ctrl.info.description" class="descroption breakWord">{{$ctrl.info.description}}</p>
<a ng-if="$ctrl.info && $ctrl.info.id == $ctrl.authData.userId" ui-sref="editProfile" class="editLink"><i class="fa fa-pencil" aria-hidden="true"></i> edit profile</a>
<a ng-if="($ctrl.info.id != $ctrl.authData.userId) && $ctrl.authData.token" class="editLink"><i class="fa fa-envelope-o" aria-hidden="true"></i> send a letter</a>
