<div ng-if="$ctrl.selectedChat !== undefined" class="col-md-6 msgColumn" id="scrollArea">
    <blockquote class="chatItem breakWord blackBorder" ng-repeat="message in $ctrl.chats[$ctrl.selectedChat].Messages | orderBy : 'createdAt'">
        <p>{{message.author.name}}:</p>
        <p>{{message.createdAt| date: 'short'}}</p>
        <span>{{message.text}}</span>
    </blockquote>

    <form class="" id="bottom">
        <div class="form-group">
            <textarea class="form-control" ng-model="$ctrl.messageText"></textarea>
        </div>

        <button class="btn btn-default msgSubmitBtn" ng-click="$ctrl.sendMessage($ctrl.chats[$ctrl.selectedChat].id)">Send</button>
    </form>
</div>

<div ng-if="$ctrl.selectedChat === undefined || !$ctrl.chats.length" class="col-md-6">
    <p>Please, choose the chat</p>
</div>

<div class="col-md-6 chatColumn">
    <div class="chatItem blackBorder" ng-repeat="chat in $ctrl.chats | orderBy : '-updatedAt'" ng-click="$ctrl.selectChat(chat.id)">
        <span ng-repeat="user in chat.Users">
            {{user.name}} {{user.surname}}
        </span>
    </div>
</div>
