chat>div {
    margin-top: 15px;
}

.chatItem {
    padding: 10px;
}

.chatMsg {
    border: none;
    position: relative;
}

.msgColumn form {
    position: fixed;
    bottom: 10px;
}

.chatColumn, .msgColumn {
    height: 100%;
    max-height: 90vh;
    overflow-y: auto;

/*    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color:  light-gray;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: light-gray;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: light-gray;
    }*/
}

.msgSubmitBtn {
    width: 100%;
    margin-bottom: 20px;
}

.chatItem {
    margin-bottom: 20px;
    cursor: pointer;
}