chat>div {
    margin-top: 15px;
}

.chatItem {
    padding: 10px;
}

.chatMsg {
    border: none;
    position: relative;
}

.msgColumn,
.chatColumn {
    height: 100%;
    max-height: 91vh;
    overflow: hidden;
}

.msgColumn>div,
.chatColumn>div {
    overflow-y: auto;

    &::-webkit-scrollbar {
        visibility: hidden;
        width: 0;
    }
}

.msgColumn>div:hover,
.chatColumn>div:hover {

    &::-webkit-scrollbar {
        visibility: visible;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;

    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: lightgray;
        outline: 1px solid slategrey;
    }
}

.msgColumn>div,
.chatColumn>div {
    height: 100%;
}

.beginChatBtn,
.msgSubmitBtn {
    background-color: white;
    border: 2px dotted lightgray;
}

/*msgColumn*/
.msgColumn {
    padding: 15px 2% 150px 2%;
}

.msgColumn form {
    position: absolute;
    width: 92%;
    bottom: 0px;
}

.msgSubmitBtn {
    width: 100%;
    margin-bottom: 20px;
}

/*chatColumn*/
.chatColumn {
    padding-top: 50px;
}

.beginChatBtn {
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    width: 92.5%;
}

.chatItem {
    margin-bottom: 20px;
    cursor: pointer;
}
