notification-messages .notification {
    width: 200px;
    background: black;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-family: Arial;
    position: relative;
    z-index: 500;
    padding: 15px;
    cursor: pointer;
}

.animation.ng-leave {
    -webkit-transition: all 1s cubic-bezier(.11,1.95,.72,.76);
}

.animation.ng-enter {
    opacity: 0;
}

.animation.ng-leave {
    opacity: 1;
    z-index: 499;
}

.animation.ng-enter.ng-enter-active {
    opacity: 1;
    margin-top: 10px;
}

.animation.ng-leave.ng-leave-active {
    opacity: 0;
    z-index: 499;
}

notification-messages {
    position: fixed;
    z-index: 500;
    bottom: 30px;
    right: 0;
    margin:20px;
}

notification-messages span.type {
    font-weight: bold;
    color: #5699bc;
}

notification-messages a.close {
    position: absolute;
    float: right;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: #5699bc;
    text-decoration: none;
    font-family: Arial;
}

notification-messages a.close:hover {
    color: white;
    cursor: pointer;
}