a {
    cursor: pointer;
    color: lightskyblue;
}

.authForm {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.blackBorder {
    background-color: white;
    border-radius: 5px;
    border: 1px dotted lightgray;
}

.list {
    margin-top: 20px;
}

blockquote {
    p {
        margin-top: 10px;
    }
}

textarea {
    resize: none;
}

.breakWord {
    word-wrap: break-word;
}

.zeroPadding {
    padding: 0;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-header,
.modal-footer,
.modal-body {
    background-color: #e7fcff;
}

.modal-footer button,
.modal-body button {
    width: 100%;
}

.modal-footer {
    padding-top: 0;
}

.modal-header {
    padding-bottom: 0;
    text-align: center;
}

.modal-header .form-group:last-child,
.modal-body .form-group:last-child {
    margin-bottom: 0;
}

button:active,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media all and (max-width: 920px) {
    .container {
        width: 80% !important;
    }
}

@media all and (max-width: 720px) {
    .container {
        width: 90% !important;
    }
}

@media all and (max-width: 480px) {
    .container {
        width: 100% !important;
    }
}
