a {
    cursor: pointer;
}

.authForm {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.blackBorder {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.list {
    margin-top: 20px;
}

blockquote {
    p {
        margin-top: 10px;
    }
}

textarea {
    resize: none;
}

.breakWord {
    word-wrap: break-word;
}

.zeroPadding {
    padding: 0;
}

body {
    background-image: url('../img/bg.jpg');
}