<form name="$ctrl.messageForm" class="modal-content" ng-submit="$ctrl.sendMessage($ctrl.messageData)">
    <div class="modal-header">
        <b>Send message</b>
        <button type="button" class="close" ng-click="$ctrl.close({})" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea name="postText" ng-model="$ctrl.messageData.text" type="text" required class="form-control" rows="5" ng-readonly="$ctrl.blogReqData.isCreatingNow"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default">Send</button>
    </div>
</form>
